/*index css*/
.index_header{line-height:2.75rem;background: url(../images/index_logo.png) no-repeat center #2a2a2a;background-size: 5.25rem 1.3125rem;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;padding:0 0.9375rem;}
.index_header a{width:1.625rem;}
.index_header a img{width:100%;}
.index_footer{bottom: 1.4375rem;width:100%;text-align: center;}
.index_footer a{display: inline-block;}
.index_scan{width:5.3125rem;height:5.3125rem;border-radius: 50%;background: url(../images/index_scan.png) no-repeat;background-size: 5.3125rem;}
.index_scan:hover{background: url(../images/index_scan_hover.png) no-repeat;background-size: 5.3125rem;}
.index_refresh{left:0.9375rem;bottom:2.8125rem;}
.index_refresh img{width:2.125rem;height:2.125rem;}
.index_tip{right:0.9375rem;bottom:0.125rem;}
.index_tip img{width:1.875rem;height:1.875rem;}
.index_guide{position: absolute;left:0;top:2.75rem;width:100%;background:#fff;}
.index_guide ul li.index_bikePos{line-height:2.71875rem;padding-left: 2.5rem;background: url(../images/index_bikePos.png) no-repeat 1rem 0.8125rem;background-size: 0.875rem 1.15625rem;}
.index_guide dt{padding-top:0.84375rem;}
.index_guide ol{text-align: center;padding-bottom:1.125rem;}
.index_guide ol span{font-size: 1.5rem;color: #ed6d2b;}
.index_orderBtn{padding-bottom:1.15625rem;}
.index_orderBtn a{display: block;width:92%;margin:0 auto;text-align:center;line-height:2.71875rem;border-radius: 0.3125rem;}
.index_orderBtn a:hover{background: #da530e;}
.index_using{line-height:2.71875rem;color: #FECBB1;padding:0 0.9375rem;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.index_using b{color: #fff;font-size:1rem;}
.index_bikeNum{padding-top:0.78125rem;padding-bottom: 0.96875rem;}
.index_booking{background:#eaeaea;line-height: 2.75rem;}
.index_booking span{margin-right:0.9375rem;}
.index_findBike{border-left:1px solid #eaeaea;width:5.4375rem;height:7.15rem;background: url(../images/index_findBike.png) no-repeat 1.875rem 1.8125rem;background-size: 1.5625rem 1.8125rem;}
.index_findBike span{display:inline-block;margin:4.1875rem 0 0 1.5625rem;}
.index_cancel{border-left: 1px solid #fff;line-height: 2.937rem;color: #fff;text-align: center;}
.index_cancel:hover{background:#da530e;}
.index_popup{width:84%;border-radius:5px;position:absolute;left:50%;top:30%;margin-left:-42%;z-index:99999;text-align: center;padding-bottom: 9.34375rem;background: url(../images/index_popBg.png) no-repeat #fff bottom;background-size:100% 9.34375rem;}
.index_popup dd{padding:0.9375rem;line-height: 1.25rem;text-align: left;}
/*map css*/
#container {width:100%;height:auto;top:2.75rem;}  
#tip{top:2.75rem;}
.amap-container img{}
.amap-geolocation-con{right:auto!important;bottom:1.5625rem!important;left:0.9375rem;}
.amap-geolocation-con .amap-geo{width:2.125rem;height:2.125rem;background: url(../images/index_loc.png) no-repeat;background-size:2.125rem;border:none;bottom:1.5625rem;left:0.9375rem;}
.amap-toolbar{display: none;}
.amap-copyright{display: none!important;}
.amap-icon img{width:2.1875rem;height:2.46875rem;}
