html, body {
  height: 100%;
  background: #f0f0f0;
}

.auth_pass {
  position: absolute;
  right: 0.9375rem;
  top: 0;
  font-size: 0.8125rem;
  color: #ccc;
}

.saoma_bg {
  height: 100%;
  width: 100%;
  background: url("../images/scan/saoma_bg.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.saoma_bg .scan_open {
  position: fixed;
  bottom: 2.1875rem;
}
.saoma_bg .openByNum {
  left: 2.1875rem;
}
.saoma_bg .openByNum:after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 3rem;
  position: absolute;
  left: 35%;
  top: -4.0625rem;
  background: url("../images/scan/saomakaisuo_shoudong.png") no-repeat;
  background-size: contain;
}
.saoma_bg .openLight {
  right: 2.1875rem;
}
.saoma_bg .openLight:after {
  content: "";
  display: block;
  width: 2.5rem;
  height: 3rem;
  position: absolute;
  left: 30%;
  top: -4.0625rem;
  background: url("../images/scan/saomakaisuo_shoudiantong.png") no-repeat;
  background-size: contain;
}

.scanGuide_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  left: 0;
  top: 2.75rem;
}
.scanGuide_bg .scanGuide {
  width: 19.75rem;
  height: 24.375rem;
  margin: 0 auto;
  margin-top: 3.9375rem;
  background: #fff;
  border-radius: 0.3125rem;
  overflow: hidden;
  text-align: center;
}
.scanGuide_bg h2 {
  margin: 1.25rem 0 0.84375rem 0;
  color: #ed6d2b;
  font-size: 1rem;
}
.scanGuide_bg p {
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  width: 14.1875rem;
  height: 1.96875rem;
  margin: 0 auto;
}
.scanGuide_bg .scanGuidePic {
  margin-top: 0.625rem;
  height: 18.53125rem;
}
.scanGuide_bg .scanGuidePic img {
  width: 100%;
  height: 100%;
}

.scan_processWrap {
  position: fixed;
  top: 48%;
  left: 5%;
  width: 90%;
  height: 0.9375rem;
  background: #ccc;
  z-index: 11;
  border-radius: 0.625rem;
}
.scan_processWrap .scan_processing {
  width: 10%;
  height: 0.9375rem;
  background: #ed6d2b;
  position: relative;
  left: 0;
  top: 0;
  border-radius: 0.625rem;
}
.scan_processWrap:after {
  content: '';
  width: 2rem;
  height: 1.65625rem;
  display: block;
  position: absolute;
  top: -2.8125rem;
  left: 45%;
  background: url("../images/scan/saomakaisuo_zixingche.png") no-repeat;
  background-size: contain;
}

header.login_header {
  z-index: 1;
}

.scan_processingTip {
  position: fixed;
  width: 100%;
  height: 0.75rem;
  font-size: 1rem;
  color: #ccc;
  top: 52%;
  text-align: center;
  letter-spacing: .1rem;
}
.scan_processingTip .span {
  display: inline-block;
  margin-left: 0.625rem;
}

.openManual_bg {
  height: 100%;
  width: 100%;
  background: url("../images/scan/openManual_bg.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  top: -2.75rem;
  box-sizing: border-box;
  padding-top: 2.75rem;
}

.bikeNumber {
  width: 11.1875rem;
  height: 4.3125rem;
  margin: 0 auto;
  margin-top: 1.9375rem;
  margin-bottom: 3.46875rem;
}
.bikeNumber img {
  width: 100%;
  height: 100%;
}

.numberInput {
  width: 19.75rem;
  height: 4.3125rem;
  margin: 0 auto;
  position: relative;
}
.numberInput .bikeNo_input {
  position: absolute;
  top: 0;
  left: 0;
  width: 19.75rem;
  height: 4.3125rem;
  border: none;
  outline: none;
  opacity: 0;
  letter-spacing: 1.8rem;
}
.numberInput .fake-box{
	margin:0 auto;
	text-align: center;	
}

.numberInput .fake-box input {
  display: inline-block;
  width: 1.70rem;
  height: 4.3125rem;
  background: #514745;
  color: #fff;
  border: none;
  text-align: center;
  line-height: 4.3125rem;
  outline: none;
  border-radius: 0.3125rem;
  /*margin-right: 0.21875rem;*/
}
.numberInput .friendTip {
  text-align: center;
  margin-top: 1.4375rem;
  font-size: 0.8125rem;
  color: #999;
}

.confirmBtn {
  position: fixed;
  width: 100%;
  height: 3.125rem;
  background: #48494d;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 3.125rem;
  color: #fff;
}
