/*map css*/
html, body {margin: 0;height: 100%;width: 100%;position: absolute;}
#container {position: absolute;top: 2.75rem;left: 0;right: 0;bottom: 0;width: 100%;height: auto;}
.amap-container img{}
.amap-geolocation-con{right:auto!important;bottom:1.5625rem!important;left:0.9375rem;}
.amap-geolocation-con .amap-geo{width:2.125rem;height:2.125rem;background: url(../images/index_loc.png) no-repeat;background-size:2.125rem;border:none;bottom:1.5625rem;left:0.9375rem;}
.amap-geolocation-con:hover .amap-geo{background: url(../images/index_loc.png) rgba(0,0,0,0.3) no-repeat;background-size:2.125rem;}.amap-toolbar{display: none;}
.amap-copyright{display: none!important;}
.amap-icon img{width:2.1875rem;height:2.46875rem;}
.amap-lib-marker-from, .amap-lib-marker-to{width: 1.5rem;height:1.8125rem;left:-0.15rem;top:0.5rem;background: none;}
/*.amap-lib-marker-from{background: url(../images/tripdetail_start.png) no-repeat;background-size: 100%;}
.amap-lib-marker-to{background: url(../images/tripdetail_end.png) no-repeat;background-size: 100%;}*/
/*index css*/
.index_header{line-height:2.75rem;background: url(../images/index_logo.png) no-repeat center #2a2a2a;background-size: 5.25rem 1.3125rem;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;padding:0 0.9375rem;}
.index_header a{width:1.625rem;}
.index_header a img{width:100%;}
.index_footer{bottom: 1.4375rem;width:100%;text-align: center;}
.index_footer a{display: inline-block;}
.index_scan{width:5.3125rem;height:5.3125rem;border-radius: 50%;background: url(../images/index_scan.png) no-repeat;background-size: 5.3125rem;}
.index_scan:hover{background: url(../images/index_scan_hover.png) no-repeat;background-size: 5.3125rem;}
.index_refresh{left:0.9375rem;bottom:2.8125rem;}
.index_refresh:hover,.index_tip:hover{background: rgba(0,0,0,0.3);}
.index_refresh img{width:2.125rem;height:2.125rem;}
.index_tip{right:0.9375rem;bottom:0.125rem;}
.index_tip img{width:1.875rem;height:1.875rem;}
.index_guide{display:none;position: absolute;left:0;top:2.75rem;width:100%;background:#fff;z-index: 999;}
.index_guide ul li.index_bikePos{line-height:2.71875rem;padding-left: 2.5rem;padding-right:1rem;background: url(../images/index_bikePos.png) no-repeat #fff 1rem 0.8125rem;background-size: 0.875rem 1.15625rem;overflow:hidden;text-overflow:ellipsis;-webkit-text-overflow:ellipsis;white-space:nowrap;}
.index_guide dt{padding-top:0.84375rem;}
.index_guide ol{text-align: center;padding-bottom:1.125rem;}
.index_guide ol span{font-size: 1.5rem;color: #ed6d2b;}
.index_orderBtn{padding-bottom:1.15625rem;}
.index_orderBtn a{display: block;width:92%;margin:0 auto;text-align:center;line-height:2.71875rem;border-radius: 0.3125rem;}
.index_orderBtn a:hover{background: #da530e;}
.index_using{line-height:2.71875rem;color: #FECBB1;padding:0 0.9375rem;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.index_using b{color: #fff;font-size:1rem;}
.index_bikeNum{padding-top:0.78125rem;padding-bottom: 0.96875rem;}
.index_booking{background:#eaeaea;line-height: 2.75rem;}
.index_booking span{margin-right:0.9375rem;}
.index_bell{z-index: 999;}
.index_findBike{border-left:1px solid #eaeaea;width:5.4375rem;height:7.15rem;background: url(../images/index_findBike.png) no-repeat #fff 1.875rem 1.8125rem;background-size: 1.5625rem 1.8125rem;}
.index_findBike span{display:inline-block;margin:4.1875rem 0 0 1.5625rem;}
.index_cancel{border-left: 1px solid #fff;line-height: 2.937rem;color: #fff;text-align: center;}
.index_cancel:hover{background:#da530e;}
.index_popup{width:84%;border-radius:5px;position:absolute;left:50%;top:30%;margin-left:-42%;z-index:99999;text-align: center;padding-bottom: 9.34375rem;background: url(../images/index_popBg.png) no-repeat #fff bottom;background-size:100% 9.34375rem;}
.index_popup dd{padding:0.9375rem;line-height: 1.25rem;text-align: left;}
.index_lock{background: url(../images/index_lockTip.png) no-repeat #fff bottom;background-size:100% 9.34375rem;}
.index_bikeInfo{z-index: 999999;width: 84%;background:#fff;border-radius:5px;position:absolute;left:50%;top:13%;margin-left:-42%;z-index:99999;}
.index_bikeInfo img{width:100%;}
.index_bikeInfo ul{padding:0.9375rem;line-height: 1.25rem;}
.index_bikeInfo ul li:nth-child(1){padding-bottom: 0.375rem;}
.index_feedback a{text-indent:20%;line-height:2.75rem;color:#fff;background: url(../images/index_useless.png) no-repeat #ccc 25.39% 0.625rem;background-size:1.375rem 1.5rem;}
.index_feedback a:hover{background: url(../images/index_useless.png) no-repeat #d3d3d3 25.39% 0.625rem;background-size:1.375rem 1.5rem;}
.index_feedback a:nth-child(1){text-indent:19.6%;background: url(../images/index_support.png) no-repeat #ed6d2b 27% 0.625rem;background-size:1.375rem 1.5rem;}
.index_feedback a:nth-child(1):hover{background: url(../images/index_support.png) no-repeat #da530e 27% 0.625rem;background-size:1.375rem 1.5rem;}
.trans-v{-webkit-transform: translate(0,-50%);transform: translate(0,-50%);}
.trans-vc{-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.border-box{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
.charging-tip-msg,.order-fail{position: fixed;top: 50%;left: 50%;width: 84.266667%;padding: 2rem 1.40625rem 1.34375rem;border-radius: 5px;z-index:99999;}
.order-fail{width:60%;padding-top:1.4rem;text-align: center;}
.charging-tip-btns{margin-top: 1.875rem;text-align: center;}
.charging-tip-btns span{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;width: 48.0662983%;height: 2.5rem;line-height: 2.5rem;border-radius: 3px;}
.charging-tip-cancel{color: #ccc;background-color: #eee;border: 1px solid #eee;}
.charging-tip-cancel:hover{background-color: #d3d3d3;color:#999;border: 1px solid #d3d3d3;}
.charging-tip-confirm{color: #fff;background-color: #ED6D2B;}
.charging-tip-confirm:hover{background-color: #da530e;}
/*paysuccess css*/
.paySuc{padding:1.9375rem 0;background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAEAgMAAAAsf40aAAAADFBMVEX////x8fH9/f319fXyfgIsAAAAHElEQVQI12NgYNj6gIGBKTSCgYE5NIaBgTE0BAAniwOjxPBgUgAAAABJRU5ErkJggg==') repeat-x bottom;background-size: 0.46875rem 0.125rem;}
.paySuc_bg{width:5.875rem;margin:0 auto;height:5.875rem;background: url(../images/paySuc_bg.png) no-repeat center;background-size: 100%;}
.paySuc_num{text-align: center;padding:1rem 0 1.25rem 0;}
.paySuc_num span{font-size: 1.875rem;}
.check-detail-btn{width: 7.75rem;height: 1.5rem;line-height: 1.5rem;margin:0 auto;color:#fff;text-align:center;background: -webkit-linear-gradient(left, #fc9825, #ed6d2b);background: -o-linear-gradient(left, #fc9825, #ed6d2b);background: linear-gradient(to right, #fc9825, #ed6d2b);border-radius: 1.5rem;}
.paySuc_list li {height: 2.75rem;line-height: 2.75rem;padding-left:0.9375rem;}
.common_upload{margin-bottom:6.625rem;}
.common_upload img{width:5.3125rem;height:5.3125rem;}
.paySuc_nav{position:fixed;bottom:0;left:0;width:100%;}
.paySuc_nav a{text-indent:20.53%;line-height:3.4375rem;color:#fff;background: url(../images/paySuc_btn_bg.png) no-repeat #ed6d2b 25.6% 1.0625rem;background-size:1.3475rem 1.3125rem;}
.paySuc_nav a:hover{background: url(../images/paySuc_btn_bg.png) no-repeat #da530e 25.6% 1.0625rem;background-size:1.3475rem 1.3125rem;}
.paySuc_nav a:nth-child(2){border-left:1px solid #f0f0f0;text-indent:24.13%;background: url(../images/paySuc_share.png) no-repeat #ed6d2b 35.56% 1.125rem;background-size:1.1875rem;}
.paySuc_nav a:nth-child(2):hover{background: url(../images/paySuc_share.png) no-repeat #da530e 35.56% 1.125rem;background-size:1.1875rem;}
.paySuc_detail{width:84%;z-index:11;position:absolute;left:50%;margin-left:-42%;top:25%;border-radius: 5px;}
.paySuc_detail ul li:nth-child(1){border-top-left-radius:5px;border-top-right-radius:5px;}
.paySuc_detail ul li:nth-last-child{border-bottom-right-radius:5px;border-bottom-left-radius:5px;}
.paySuc_detail li{line-height: 1.25rem;border-bottom: 1px solid #ccc;}
.paySuc_detail li.bd-none{border: none;}
.paySuc_note{padding-top: 0.46875rem;}
.paySuc_detail dd{padding-top:0.5625rem;}
.paySuc_detail .pd-t-16{padding-top:0.5rem;}
/*tripdetail css*/
.tripdetail_body{width:100%;height:100%;background: #fff;}
.tripdetail_map{width:100%;height:30.543%;position: relative;}
.tripdetail_maptxt{width:100%;padding:0.625rem 4%;background-color: rgba(0, 0, 0, .5);position:absolute;left:0;bottom:0;}
.tripdetail_maptxt li{text-indent: 0.9375rem;background:url(../images/tripdetail_starttxt.png) no-repeat 0 center;background-size:0.4375rem;}
.tripdetail_maptxt li:nth-child(2){margin-top:0.78125rem;background:url(../images/tripdetail_endtxt.png) no-repeat 0 center;background-size:0.4375rem;}
.tripdetail_distance{width:52.53%;margin:0 auto;margin-top:1.25rem;height:27.51%;font-size:4.6875rem;text-align:center;padding-top:15%;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: url(../images/tripdetail_distance.png) no-repeat center;background-size: contain;}
.tripdetail_distance dd{padding-top:9.5%;}
.tripdetail_list{text-align: center;}
.tripdetail_list p{position:relative;background: url(../images/tripdetail_line.png) no-repeat 0.8rem center;background-size:24.267% 0.1875rem;}
.tripdetail_list p span{display:inline-block;width:100%;height:100%;position:absolute;right:0;background: url(../images/tripdetail_line.png) no-repeat 0.8rem center;background-size:24.267% 0.1875rem;-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.tripdetail_list ul{padding-top:0.9375rem;}
.tripdetail_list li{padding-top:2.1875rem;}
.tripdetail_list li:nth-child(1){background: url(../images/tripdetail_time.png) no-repeat center 1px;background-size: 1.5rem;}
.tripdetail_list li:nth-child(2){background: url(../images/tripdetail_carbon.png) no-repeat center 1px;background-size: 1.53125rem;}
.tripdetail_list li:nth-child(3){background: url(../images/tripdetail_calorie.png) no-repeat center 0;background-size: 1.28125rem 1.59375rem;}
.tripdetail_list dt{font-size:1.1875rem;padding-bottom: 0.625rem;}
.tripdetail_list dd{font-size:0.8125rem;color:#999;}
